<div class="p-3">
  <button class="btn btn-primary" (click)="redirectToCreate()">
    Adicionar Transação
  </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Tipo</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (item of transactions; track $index) {
        <tr>
          <td>{{ item.date | date: "dd/MM/yyyy" }}</td>
          <td>{{ item.description }}</td>
          <td [class]="item.amount | negativeValues">
            {{ item.amount | currency: "BRL" : "symbol" : "1.2-2" : "pt-BR" }}
          </td>
          <td>
            {{
              item.type === transactionTypesEnum.INCOME ? "Entrada" : "Saída"
            }}
          </td>
          <td>
            <button
              class="btn btn-sm btn-outline-primary me-2"
              (click)="onEdit(item.id)"
            >
              Editar
            </button>
            <button
              class="btn btn-sm btn-outline-danger"
              (click)="onDelete(item.id)"
            >
              Excluir
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
