<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- os atributos for e id no label e no input se relacionam entre si, permitindo que, ao clicar no label, o respectivo campo receba o foco.-->
  <!-- o atributo formControlName do input é quem faz o realcionamento entre o campo e o formControl no arquivo .ts -->
  <mat-form-field appearance="outline" class="w-100 mb-3">
    <mat-label>Data</mat-label>
    <input matInput formControlName="date" [matDatepicker]="picker" />
    <mat-hint>A data deve ser entre 01/01/2026 e a data de hoje</mat-hint>
    @if (this.form.get("date")?.errors?.["dateOutOfRange"]) {
      <mat-error
        >Data deve estar entre
        {{
          this.form.get("date")?.errors?.["dateOutOfRange"]?.min
            | date: "dd/MM/yyyy"
        }}
        e
        {{
          this.form.get("date")?.errors?.["dateOutOfRange"]?.max
            | date: "dd/MM/yyyy"
        }}</mat-error
      >
    }
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 mb-3">
    <mat-label>Descrição</mat-label>
    <input
      matInput
      placeholder="Descreva a transação"
      formControlName="description"
    />
    @if (form.get("description")?.errors?.["required"]) {
      <mat-error>A descrição precisa ser informada</mat-error>
    }
    @if (form.get("description")?.errors?.["minlength"]) {
      <mat-error>A descrição precisa ter mais que 4 caracteres</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 mb-3">
    <mat-label>Valor</mat-label>
    <input
      matInput
      placeholder="Descreva a transação"
      formControlName="amount"
      mask="separator.2"
      thousandSeparator="."
      decimalMarker=","
      prefix="R$ "
      [allowNegativeNumbers]="true"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 mb-3">
    <mat-label>Descrição</mat-label>
    <mat-select formControlName="type">
      <mat-option [value]="null" selected>- Selecione</mat-option>
      <mat-option [value]="transactionTypesEnum.INCOME">Entrada</mat-option>
      <mat-option [value]="transactionTypesEnum.EXPENSE">Saída</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="mt-3">
    <button
      type="submit"
      class="btn btn-primary me-2"
      [disabled]="form.invalid"
    >
      Salvar
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="backToList()"
    >
      Voltar
    </button>
  </div>
</form>
