<div class="p-3">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Conta bancária</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Cliente: {{ account?.name }}</p>
      <p>Saldo atual: {{ account?.balance }}</p>
    </mat-card-content>
  </mat-card>
</div>

<div class="p-3">
  <mat-form-field appearance="outline" class="mb-3">
    <mat-label>Buscar</mat-label>
    <input matInput [(ngModel)]="search" />
  </mat-form-field>
</div>

<div class="p-3">
  <div class="row">
    @for (item of filterTransactions(); track $index) {
      <div class="col-4 mb-3">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{ item.description }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Valor: {{ item?.amount }}</p>
            <p>
              Tipo:
              {{
                item.type === transactionTypesEnum.INCOME ? "Entrada" : "Saída"
              }}
            </p>
            <p>Date: {{ item?.date | date: "dd/MM/yyyy" }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    }
  </div>
</div>
